@import "../../styles/variables.module.scss";
@import "../../styles/_mixins.scss";
.container {
  border-radius: 10px;
  color: $white;
  //border: 1px solid $primaryColor;
  padding: 5px;
  //text-align: center;
  @include lg {
    width: 60%;
    margin: 0 auto;
  }
  .searchHit {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hitImage {
      border-radius: 10px;
    }
    .hitName {
      color: $primaryColor;
      font-size: 10px;
      > span {
        color: $white;
      }
    }
    .hitDetails {
      display: inline-flex;
      color: $primaryColor;
      font-size: 10px;
      align-items: center;
      justify-content: left;
      > span {
        color: $white;
      }
    }
  }
}
