@import "../../styles/variables.module.scss";
@import "../../styles/_mixins.scss";
.container {
  border-radius: 10px;
  color: $white;
  //border: 1px solid $primaryColor;
  padding: 5px;
  //text-align: center;
  @include lg {
    width: 70%;
    margin: 0 auto;
  }
  .searchHit {
    background-color: $lightGrey;
    border-radius: 10px;
    width: 100%;
    @include lg {
      width: 300px;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    .hitImage {
      border-radius: 10px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      margin-right: 5px;
    }

    .hitDetails {
      display: flex;

      flex-direction: column;

      height: 120px;
      width: 100%;
      padding: 3px;
      .hitName {
        color: $primaryColor;
        font-size: 15px;
      }
      .hitExtra {
        color: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
        > span {
          font-size: 12px;
        }
      }
      .hitLocation {
        color: $white;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-top: 1px;
        .locationIcon {
          font-size: 20px;
          min-width: 25px;
        }
        > span {
          align-self: flex-start;
          font-size: 12px;
        }
      }
    }
  }
}
