.ais-SearchBox-form {
  display: grid;
  width: 100%;
  color: inherit;
  background-color: inherit;
}
.ais-SearchBox {
  width: 100%;
  justify-self: center;
  margin: auto;
}

.ais-SearchBox-input {
  height: 50px;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #ff4400;
  border-radius: 5px;
  appearance: none;
}
.ais-SearchBox-input:focus-visible {
  outline: #ff4400 auto 1px;
}
.ais-SearchBox-submit {
  display: none;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
}

.ais-SearchBox-reset {
  display: none;
}
.ais-SearchBox-loadingIndicator {
  display: none;
}
.ais-Hits {
  width: 100%;
  margin-top: 25px;
}
.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 10px;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

.ais-Hits ol {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0;
}

.ais-Hits-item {
  margin: 5px 0px;
}

@media (min-width: 992px) {
  .ais-SearchBox {
    width: 50%;
  }
  .ais-Hits-item {
    margin: 5px 10px;
  }
  .ais-Hits-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
  }
}
